<h1>{{ editMode ? 'Edit' : 'Add'}} Employee</h1>
<form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-group" [ngClass]="{'has-error': (formGroup.get('name').touched || formGroup.get('name').dirty) && !formGroup.get('name').valid }">
      <label class="col-md-2 control-label" for="nameId">Name</label>
      <div class="col-md-8">
        <input class="form-control" id="nameId" type="text" formControlName="name" required />
        <span class="help-block" *ngIf="(formGroup.get('name').touched || formGroup.get('name').dirty) && !formGroup.get('name').valid">
          <span *ngIf="formGroup.get('name').errors.required">
            The field Name is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': (formGroup.get('birthdate').touched || formGroup.get('birthdate').dirty) && !formGroup.get('birthdate').valid }">
      <label class="col-md-2 control-label" for="birthdate">Birthdate</label>
      <div class="col-md-8">
        <input class="form-control" id="birthdate" type="date" formControlName="birthdate" required />
        <span class="help-block" *ngIf="(formGroup.get('birthdate').touched || formGroup.get('birthdate').dirty) && !formGroup.get('birthdate').valid">
          <span *ngIf="formGroup.get('birthdate').errors.required">
            The field Birthdate is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" (click)="addAddress()" type="button">Add Address</button>
    </div>

    <div formArrayName="addresses" *ngFor="let address of formGroup.get('addresses').controls; let i = index;">
      <div [formGroupName]="i">
        <div class="form-group">
          <label class="col-md-2 control-label" [attr.for]="'street' + i">
            Street
          </label>
          <div class="col-md-8">
            <input class="form-control" [attr.id]="'street' + i" type="text" formControlName="street" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" [attr.for]="'city' + i">
            City
          </label>
          <div class="col-md-8">
            <input class="form-control" [attr.id]="'city' + i" type="text" formControlName="city" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10">
            <button type="button" class="btn btn-danger pull-right" (click)="removeAddress(i)">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary" type="submit" [disabled]="!formGroup.valid">Save</button>
          <button class="btn" [routerLink]='["/employees"]'>Cancel</button>
        </span>
      </div>
    </div>

  </fieldset>
</form>
